@import "./variabels";
.feature_subtitle {
  color: $primary;
  span {
    color: $primary;
  }
}

.feature_text {
  color: #777;
}

.feature_item p {
  color: #777;
}

.food_category {
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
  justify-content: center;
  button {
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: black;
    border-radius: 10px;
    img {
      width: 70px;
      height: 70px;
    }
  }
}

.foodBtnActive {
  background: $main-red !important;
  border-radius: 5px;
  color: white !important;
}

.tasty_treat-title {
  span {
    color: $primary;
  }
}

.tasty_treat-desc {
  color: #777;
  line-height: 28px;
}

.choose_us-title {
  font-weight: 600;
  margin-bottom: 10px;
  .check-i {
    font-weight: 500 !important;
    color: $primary;
  }
}

.choose_us-desc {
  color: #777;
}

.testimonial_subtitle {
  color: $primary;
}

.testimonial_title {
  span {
    color: $primary;
  }
}

.testimonial_desc {
  color: #777;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  .hero_content {
    h5 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
      line-height: 25px;
    }
  }

  .hero_title {
    font-size: 1.5rem;
    line-height: 40px;
    button {
      padding: 5px 15px;
      font-size: 0.7rem;
    }
  }

  .hero_service {
    p {
      font-size: 0.7rem !important;
    }
  }

  .feature_item h5 {
    h5 {
      font-size: 0.9rem;
    }
    p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }

  .feature_subtitle {
    font-size: 1rem;
  }
  .feature_text {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .food_category {
    padding: 15px;
    overflow-x: scroll;
    justify-content: space-between;
    button {
      padding: 5px 15px;
      font-size: 0.7rem;
    }
  }
  .food_category::-webkit-scrollbar {
    display: none;
  }
  .tasty_treat-desc {
    font-size: 0.7rem;
    margin-bottom: 0;
    line-height: 20px;
  }
  .choose_us-title {
    font-size: 0.7rem;
  }

  .choose_us-desc {
    font-size: 0.6rem;
  }

  .testimonial_subtitle {
    font-size: 1rem;
  }
  .testimonial_desc {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 390px) {
  .hero_content {
    text-align: center;
  }

  .hero_btns {
    justify-content: center;
  }

  .hero_service {
    justify-content: center;
  }
  .why_choose-us {
    padding-top: 0 !important;
  }
}
